<% unless @forum.description.blank? %>
  <%= @forum.description_html %>
  <hr />
<% end %>

<!-- <% if false %>
TODO integrate moderators and group managers
<h5 style="margin-bottom:1.0em;"><%= _('Moderators') %></h5>
<% unless @forum.moderators.empty? -%>
  <ul class="flat" style="margin-top:1em;">
  <% @forum.moderators.each do |user| -%>
    <li><%= icon user %></li>
  <% end -%>
  </ul>
<% else -%>
  <p><%= _('This forum is currently unmoderated.') %></p>
  <p><%= _('Please always be courteous.') %></p>
<% end -%>
<hr />
<% end %> -->


<% if @topic -%>
  <h5><%= _('Topic Voices') %></h5>
  <div class="newest_member">
    <% @topic.voices.each do | user | %>
      <%= icon user %>
    <% end %>
  </div>
<% end -%>