<div id="forum-container" class="activity_box">
  <h2><%= h @forum.name %></h2>

  <p class="subtitle">
    <%= feed_icon_tag @forum.name, formatted_forum_posts_path(@forum, :rss) %> 
    <%= count_for('topic', @forum.topics.size) %>, 
    <%= count_for('post', @forum.posts.size) %>
    <% if logged_in? %>
      <%= link_to _('New topic'), new_forum_topic_path(@forum), :class => "utility" %>
    <% end %>
  </p>

  <%= will_paginate @topics, :previous_label => _('&laquo; Previous'), :next_label => _('Next &raquo;') %>

  <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
  <tr>
    <th class="la" colspan="2"><%= _('Topic') %></th>
    <th width="1%"><%= _('Posts') %></th>
    <th width="1%"><%= _('Views') %></th>
    <th class="la"><%= _('Last post') %></th>
  </tr>
  <% for topic in @topics %>
  <tr class="hentry">
    <td style="padding:5px; width:16px;" class="c1">
      <% 
      icon = "comment"
      color = ""
      if topic.locked?
        icon = "lock"
        post = ", this topic is locked."
        color = "darkgrey"
      end
      %>
      <% if recent_topic_activity(topic) %>
      <%= image_tag "clearbits/#{icon}.gif", :class => "icon green", :title => _("Recent activity #{post}") %>
      <% else %>
        <%= image_tag "clearbits/#{icon}.gif", :class => "icon grey #{color}", :title => _("No recent activity #{post}") %>
      <% end %>
    </td>
    <td class="c2">
      <%= _("Sticky: <strong>") if topic.sticky? %>
      <%= topic_title_link (topic), :class => "entry-title", :rel => "bookmark" %>
      <%#= link_to h(topic.title), topic_path(@forum, topic), :class => "entry-title", :rel => "bookmark" %>
      <%= "</strong>" if topic.sticky? %>
      <% if topic.paged? -%>
      <small><%= link_to _('last'), forum_topic_path(:forum_id => @forum, :id => topic, :page => topic.last_page) %></small>
      <% end -%>
    </td>
    <td class="ca inv stat"><%= topic.posts.size %></td>
    <td class="ca inv stat"><%= number_with_delimiter(topic.views) %></td>
    <td class="lp">
      <abbr class="updated" title="<%= topic.replied_at.xmlschema %>"><%= time_ago_in_words(topic.replied_at) %></abbr>
      <%= _('ago by %{user}') % {:user => "<span class=\"author\"><strong class=\"fn\">#{h(topic.replied_by_user.display_name)}</strong></span>"} if topic.replied_by_user -%>
      <span><%= link_to _('view'), forum_topic_path(:forum_id => @forum, :id => topic, :page => topic.last_page, :anchor => "posts-#{topic.last_post_id}") %></span>
    </td>
  </tr>
  <% end %>
  </table>

  <%= will_paginate @topics %>

  <% if logged_in? %>
    <p><%= link_to _('New topic'), new_forum_topic_path(@forum), :class => "utility" %></p>
  <% end%>
</div>