<div id="member-story" class="left">
    <% 
    widget = Widget.find_by_name(:member_stories)
    stories = widget.news_items.find(:all, :limit => 9) if widget
    num_stories = stories ? stories.length : 0
    if num_stories > 0
    %>
        <% stories.each_index do |nStory| story = stories[nStory] -%>
        	<div id="member-story-<%=nStory%>-summary" class="member-story-summary" style="display:none;">
        		<%= icon story, :bigger -%>
        		<div class="member-story-excerpt">
        			<h2><%= story.title %></h2>
        			<p><%= summarize(story.body, 380) %> <a href="<%= member_story_path(story) %>"><%= _('Read More &gt;&gt;') %></a></p>
        		</div>
        	</div>
        <% end -%>
        
        <h3><a href="<%= member_stories_path %>"><%= _('More Stories') %></a></h3>
        <% stories.each_index do |nStory| story = stories[nStory] -%>
        	<a class="member-story-icon" id="member-story-<%=nStory%>" href="<%= member_story_path(story) %>">
        		<%= icon_tag(story, :small) if story -%>
        	</a>
        <% end %>
        <script type="text/javascript" language="JavaScript">
        jQuery(document).ready(function()
        {
        	jQuery(".member-story-icon").mouseover(function()
            {
        			jQuery(".member-story-summary").hide();
        			jQuery('#' + this.id + '-summary').show();
        			return false;
            });
        });
        jQuery('#member-story-' + Math.ceil(<%= num_stories%>*Math.random()) + '-summary').show(); 
        </script>
  <% end %>
</div>
