<% content_for :head do -%>
<%#= auto_discovery_link_tag :rss, formatted_user_photos_url(@user, :rss), :title=> _("%{user_name}'s Photos") % {:user_name => @user.full_name} %>
<% end -%>
 
<% if is_me?(@user) -%>
  <h1><%= _("My Photos") %></h1>
<% else -%>
  <h1><%= icon @user %> <%= _("%{user_name}'s Photos") % {:user_name => @user.full_name} %></h1>
<% end -%>
 
<div class="left" id="column_l">  
  <%= render :partial => 'photos/gallery' %>
</div>
 
<div class="right" id="column_r">
  <% if is_me?(@user) -%>
   <div class="right upload_form activity_box">
   <%= render :partial => 'photos/form' %>
   </div>
  <% end -%>
</div>