<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function()
{
    jQuery("#join_button").click(function()
    {
        jQuery("#join_group").hide();
        jQuery.post('<%=group_memberships_path(@group)%>',{ join_button:jQuery(this).val() } ,function(data)
        {
        	jQuery("#join").html(data);
            <% if @group.visibility == Group::PRIVATE && !@group.requires_approval_to_join %>document.location = '<%= group_path(@group) %>';<% end %>
        });
        tb_remove();
        return false; 
    });
});
</script>

<div id="join_group" class="hidden">    
	<% form_for(:membership, :url => group_memberships_path(@group), :html => { :id => "#{dom_id(@group)}_membership_form", :format => 'js' } ) do |f| %>
	<div id="thickbox_form">				
    <% if @group.requires_approval_to_join == true %>	
  		<p><%= _('Membership in the group %{group_name} requires approval from a group administrator.') % {:group_name => h(@group.name)} %></p>
  		<p><%= _('Would you like to request membership in the group %{group_name}?') % {:group_name => h(@group.name)} %></p>
		
    <% else %>
  		<p><%= _('<b>%{group_name}</b> is an open group that anyone can join.') % {:group_name => h(@group.name)} %></p>
  		<p><%= _('Would you like to join <b>%{group_name}</b>?') % {:group_name => h(@group.name)} %></p>
    <% end %>		
  	<div class="row button">
  	  <%= f.submit _('Join'), :class=>"button", :id => "join_button" %>
  	</div>
  	<div class="clear"></div>
  </div>
  <% end %>
</div>