<div class="form-row"<%= hide == true ? ' style="display:none"' : ''%> id="property_<%= property.name %>_container">
	<label for="property_<%= property.name %>"><%= _(property.label) %> <%= property.required? ? ('<em>' + _('(required)') + '</em>') : '' %></label>
	<span <%= error.nil? ? '' : " class='fieldWithErrors'"%>>
	<input id="property_<%= property.name %>" name="property[<%= property.bag_property_id %>]" size="30" type="text" value="<%= property.value %>" maxlength="255"/>
    </span>
    <br/>
    <% if !property.can_change_visibility || @hide_visibility_controls %><input type='hidden' name='v[<%= property.bag_property_id %>]' value='<%= property.visibility %>'/><% end %>
    <%= (select_tag 'v[' + property.bag_property_id + ']', options_for_select([[_('private'), '1'], [_('visible to colleagues'), '2'], [_('visible to members'), '4'], [_('visible to public'), '5']], property.visibility), :disabled => !property.can_change_visibility) unless @hide_visibility_controls %>
    <input type='hidden' name='dt[<%= property.bag_property_id.to_s %>]' value='<%= property.data_type %>'/>
</div>