<div class="left" id="column_l">	
	<h1><%= @group.name %> - Latest news</h1>
	<%= render :partial => 'groups/group_nav', :locals => {:group => @group} %>
	<div id="news" class="activity_box">
		<h2><%= _('Latest News') %> <% if manager? -%><span><a href="<%= new_group_news_path(@group) %>" class="view-all"><%= _('Add News') %></a></span><% end -%></h2>
    <%= render :partial => 'news_item_min', :collection => @news %>
    <div class="clear"></div>
  	<%= will_paginate @news, :previous_label => _('&laquo; Previous'), :next_label => _('Next &raquo;') %>
  </div>
	<div class="clear"></div>
</div>
<div class="right" id="column_r">
	<%= render :partial => 'groups/group_info' %>
</div>