<table class="manage">
	<thead>
	<tr>
		<th></th>
		<th><%= _('Name') %></th>
		<th><%= _('Email') %></th>
		<th><%= _('Joined') %></th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |user| -%>
	<tr id="<%=user.dom_id('row')%>" class="<%= cycle('odd','even') %>">
		<td><%= icon user, :small %></td>
		<td><%= link_to h(user.full_name), user %></td>
		<td><%= mail_to h(user.email), user.email %></td>
		<td><%= _('%{when} ago') % {:when => time_ago_in_words(user.created_at.to_s)} %></td>
		<td id="<%=user.dom_id('link')%>"><%= render :partial => 'admin/users/activate', :locals => {:user => user} %></td>
		<td><%#=link_to _('Delete'), admin_user_path(user.id), :method => :delete, :title => _('Delete this user.') -%>
			<%= link_to_remote _("Delete"), {:url => admin_user_path(user.id), :method => :delete}, {:title => _('Delete this user.'), :class => 'delete-user'} -%></td>
	</tr>
	<% end -%>
	</tbody>
</table>
