<%= render :partial => 'admin/users/user_navigation' -%>
<div class="activity_box">
  <h2><%= _('There are %{count} unactivated users') % {:count => @user_inactive_count} %> 
		<span class="link-button"><%= link_to _("Activate All Inactive Users"), activate_all_admin_users_path, :confirm => 'Are you sure you want to activate all inactive users in the system?  This cannot be undone!' %></span>
		<span class="link-button"><%= link_to _("Show Emails"), inactive_emails_admin_users_path %></span>
	</h2>
	<%= render :partial => 'admin/users/table' -%>
</div>