<tr class="vevent">
  <td class="date">
    <div class="date-month"><%= event.start_at.strftime("%b") %></div>
    <div class="date-day"><%= event.start_at.day %></div>
  </td>
  <td>
    <!--<a href="<%= group_event_path(@group, event) %>" title="<%= event.title %>">-->
      <span class="title"><%= event.title %></span>
    <!--</a>-->
    <div class="summary"><%= event.summary %></div>
    <% if event.uri.length > 0 -%>
      <a href="<%= event.uri %>" class="url" target="_blank">Event Website</a>
    <% end -%>
    <div class="location"><%= event.location %></div>
  </td>
  <td class="attendees">
    <div><span id="attendees_for_<%=event.dom_id%>"><%= event.attendees_count || 0 %></span> attendees</div>
      <% if event.start_at > DateTime.now -%>
        <% @user_event = @user_events.find {|user_event| user_event.event_id == event.id } if @user_events.length > 0 -%>        
        <% if @user_event -%>
          <%= render :partial => 'events/not_attending', :locals => {:event => event, :user_event => @user_event} %>
          <% style = 'style="display:none;"' %>
        <% end -%>        
        <div id="attend_<%=event.dom_id%>" <%=style%>>
          <% remote_form_for :event_user, :url => event_users_path, :format => 'js' do |f| %>
           	<%= hidden_field_tag :event_id, event.id %>
           	<%= f.submit _("I'm Attending"), :class=>'button' -%>
          <% end %>
        </div>
      <% else -%>
        <p><%= _('Event has passed') %></p>
      <% end -%>
    </div>
  </td>
</tr>