<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <%= render :partial => 'layouts/global/head' %>
  </head>
  <body id="p_home">
    <div id="twb" style="width: 100%;">
      <div id="wrapper">
        <div id="site" class="container">
          <div id="header">
			      <%= render :partial => 'layouts/global/header2' %>
          </div>
        </div>        
        <div id="main">
        	<div class="container">
        	  <div id="content">
              <%= display_standard_flashes %>
  					  <%= yield %>
  					</div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <%= render :partial => 'layouts/global/footer2' %>        
      </div>
    </div>
  </body>
</html>