<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	  <meta name="description" content="" />
	  <meta name="keywords" content="" />
	  <title><%= @title || _(GlobalConfig.application_name) -%></title>
	  <%= stylesheet_link_tag 'google_docs', 'custom' -%>
	  <%= yield :head -%>
	  <link rel="shortcut icon" href="/favicon.ico" >
	  <!--[if lt IE 7.]>
	    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
	  <![endif]-->
  </head>
  <body class="twb-body">
    <div id="wrapper">
			<%= render :partial => 'layouts/global/header' %>
      <div id="content">
      	<div id="main">
        	<%= display_standard_flashes %>
					<%= yield %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>    
    </div>
    <%= render :partial => 'layouts/global/footer' %>
  </body>
</html>
